
<div class="all">
   
    <h1 class='pop-outin'>HAPPY</h1>
    <div class="content">
    <h2>2022</h2>
    <h2>2022</h2>
</div>
<!-- shooting star -->
<div class="night">
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
  </div>
<!-- firework -->
    <div class="firework" id="firework1">
        <div class="explosion"></div>
        <div class="explosion"></div>
        <div class="explosion"></div>
        <div class="explosion"></div>
        <div class="explosion"></div>
        <div class="explosion"></div>
        <div class="explosion"></div>
        <div class="explosion"></div>
        <div class="explosion"></div>
        <div class="explosion"></div>
        <div class="explosion"></div>
        <div class="explosion"></div>
    </div>
    <div class="firework" id="firework2">
        <div class="explosion"></div>
        <div class="explosion"></div>
        <div class="explosion"></div>
        <div class="explosion"></div>
        <div class="explosion"></div>
        <div class="explosion"></div>
        <div class="explosion"></div>
        <div class="explosion"></div>
        <div class="explosion"></div>
        <div class="explosion"></div>
        <div class="explosion"></div>
        <div class="explosion"></div>
    </div>
    <div class="firework" id="firework3">
        <div class="explosion"></div>
        <div class="explosion"></div>
        <div class="explosion"></div>
        <div class="explosion"></div>
        <div class="explosion"></div>
        <div class="explosion"></div>
        <div class="explosion"></div>
        <div class="explosion"></div>
        <div class="explosion"></div>
        <div class="explosion"></div>
        <div class="explosion"></div>
        <div class="explosion"></div>
    </div>
</div>